<h1>Welcome to Stack Overflow</h1>

<% if current_user %>
  <h3>Ready to ask a question? <%= link_to "Add New Question", new_user_question_path(@user), :class => "btn btn-success"%>
<% end %>
</h3>
<br>

<div class="col-md-6">
  <% if @questions.any? %>
  <h4>Stack Overflow Questions:</h4>
  <% @questions.each do |question| %>
  <ul>
    <li><%= link_to question.body, question_path(question) %></li>
  </ul>
  <% end %>
  <% end %>
</div>

<div class="col-md-6">
  <h4> Current Users </h4>

  <% if @users.any? %>
  <% @users.each do |user| %>
  <ul>
    <li><%= link_to user.name, user_path(user) %></li>
  </ul>
  <% end %>
  <% end %>
</div>
